################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/DiscoverCostaRica.Api/bin/Debug/net8.0
/DiscoverCostaRica.Api/obj
/DiscoverCostaRica.AppHost/obj
/DiscoverCostaRica.Beaches.Api/bin/Debug/net10.0
/DiscoverCostaRica.Beaches.Api/obj
*.user
/DiscoverCostaRica.Beaches.Application/bin/Debug/net10.0
/DiscoverCostaRica.Beaches.Application/obj
/DiscoverCostaRica.Beaches.Domain/bin/Debug/net10.0
/DiscoverCostaRica.Beaches.Domain/obj
/DiscoverCostaRica.Beaches.Infraestructure/bin/Debug/net10.0
/DiscoverCostaRica.Beaches.Infraestructure/obj
/DiscoverCostaRica.CultureSerice.Api/bin/Debug/net10.0
/DiscoverCostaRica.CultureSerice.Api/obj
/DiscoverCostaRica.Domain/bin/Debug/net8.0
/DiscoverCostaRica.Domain/obj
/DiscoverCostaRica.GeoService.Api/bin/Debug/net10.0
/DiscoverCostaRica.GeoService.Api/obj
/DiscoverCostaRica.Infraestructure/bin/Debug/net8.0
/DiscoverCostaRica.Infraestructure/obj
/DiscoverCostaRica.ServiceDefaults/bin/Debug/net10.0
/DiscoverCostaRica.ServiceDefaults/obj
/DiscoverCostaRica.Shared/bin/Debug/net10.0
/DiscoverCostaRica.Shared/obj
/DiscoverCostaRica.VolcanoService.Api/obj/Debug/net10.0
/DiscoverCostaRica.VolcanoService.Api/obj
/obj
